nav ul {
    margin: 15px;
    padding: 10px;
    list-style-type: none;
    text-transform: capitalize;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

nav {
    background-color: white;
}

section aside {
    float: left;
}

footer {
    clear: left;
    background-color: aqua;
    text-align: center
}

section header, article header {
    text-transform: uppercase;
}

nav ul li a:hover {
    background-color: lightblue;
    font-weight: bold;
}

body {
    margin: auto;
    width: 1000px;
    background-repeat: repeat;
    background-color: lightsteelblue;
}

table {
    border-collapse: collapse;
    padding: 10px;
    margin: 15px 0px;
    border-style: solid;
    border-width: 2px;
}

table th{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background-color: cornflowerblue;
    padding: 10px;
}

table td{
    padding: 5px;
}

form input{
    background-color: darkslateblue;
    color: white;
    font-weight: bold;
}

form fieldset{
    padding: 15px;
    margin: 10px;
}

section header{
    background-color: cadetblue;
}

article header{
    background-color: darkseagreen;
}

header{
    background-color: darkviolet;
}

.listazainteresowan{
    list-style-image: url("../img/80-resized-hobby.jpg");
}

.listaumiejetnosci{
    list-style-image: url("../img/50-resized-80-resized-skills.jpg");
}

.listatechnologii{
    list-style-image: url("../img/custom-resized-80-resized-tech.jpeg");
}

.cookiesDialog {
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: pink;
    color: white;
    font-weight: bold;
    padding: 5px;
}